@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAccessManage.cshtml";
}
@section styles {
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
    <link href="~/Assets/AccessMange/css/dashboard.css" rel="stylesheet" />
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>

}
<div class="card shadow mb-4 p-2">
    <button type="button" class="btn btn-primary btn-sm" style="background-color: var(--bs-blue); width: fit-content;"
            data-toggle="tooltip" data-placement="left" title="Tooltip on left"
            onclick="location.href='@Request.Url.PathAndQuery'">
        <i class="fas fa-sync-alt"></i>
    </button>
</div>
<div>
    <p>
        <a href="@Url.Action("ExportToExcel", "AccessManage")" target="_blank" class="btn btn-primary">Download Excel</a>
    </p>
</div>
<div class="card shadow mb-4 p-4 position-relative">
    <!-- Loading -->
    <div class="loading d-center">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        </div>
    </div>

    <div class="">
        <h3>Dashboard</h3>
    </div>
    <div class="d-flex justify-content-center">
        <div style="overflow-x:auto;padding-bottom:20px">
            <div style="width: 100%;"><canvas id="acquisitions" style="height:600px"></canvas></div>
        </div>
    </div>


    <div class="d-flex justify-content-center p-3">
        <div style="width:70%;"><canvas id="line-chart"></canvas></div>
    </div>
</div>

<!-- Page level custom scripts -->
@section scripts {
    <script src="~/Assets/AccessMange/vendor/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0/dist/chartjs-plugin-datalabels.min.js"></script>
    <script  src="~/Assets/AccessMange/js/dashboard.js"></script>
}
                                                                          